<head>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
  <style>
    .highlighted {
      background: silver
    }
    
    .tablehead {
      background: gray
    }
  </style>
  <script>
    var appModule = angular.module("appModule", []);

    appModule.service('apiService', function($http) {
      return {
        dbQuery: function(query) {
          return $http({
            method: 'POST',
            url: 'http://votey.dokku.jay.li/api/dbQuery',

            headers: {
              'Content-Type': 'application/json',
              //authToken: $rootScope.authToken	//TODO: implement tokens
            },
            data: query
          });

        },
        submitDocumentChanges: function(collection, record) {
          return $http({
            method: 'POST',
            url: 'http://votey.dokku.jay.li/api/submitDocumentChanges',

            headers: {
              'Content-Type': 'application/json',
              //authToken: $rootScope.authToken	//TODO: implement tokens
            },
            data: {
              collection: collection,
              record: record
            }
          });

        }

      };
    });

    appModule.controller("appCtrl", ApplicationController);

    function ApplicationController($scope, apiService) { //$rootScope, , $timeout, $http, $interval, $compile

      $scope.editingLine = {};
      $scope.editingLineDataTypes = {};

      $scope.dataTypes = ['string', 'number', 'object', 'boolean', 'undefined'];
      $scope.collections = ['clients', 'questions'];

      var arrayOfObjectsToHeadedArray = function(arrOfObjs) {
        var headedArray = [];
        var keys = [];

        var indexInKeys = function(key) {
          var index = keys.indexOf(key);
          if (index < 0) index = keys.push(key) - 1;
          return index;
        };

        arrOfObjs.forEach(function(document, docIndex) {
          headedArray[docIndex + 1] = [];
          for (key in document) {
            var index = indexInKeys(key);
            headedArray[docIndex + 1][index] = document[key];
          }
        });

        headedArray[0] = keys;

        return headedArray;

      };

      var getEditingLineDataTypes = function(obj) {
        var result = {};
        for (var key in obj) {
          result[key] = typeof obj[key];
        };
        return result;
      };

      var getEditingLine = function(inObj, types) {
        var obj = angular.copy(inObj);
        for (var key in obj) {
          if (types[key] === 'object') obj[key] = JSON.stringify(obj[key]);
        };
        return obj;
      };

      var parseEditingLine = function(inObj, types) {
        var obj = angular.copy(inObj);
        for (var key in obj) {
          switch (types[key]) {
            case 'object':
              obj[key] = JSON.parse(obj[key]);
              break;
            case 'number':
              obj[key] = Number(obj[key]);
              break;
            case 'string':
              obj[key] = obj[key].toString();
              break;
            case 'boolean':
              obj[key] = !!obj[key];
              break;
            default:
          }

        };
        return obj;
      };

      $scope.query = {
        submit: function(collection, getLastQuery) {

          var query = this;
          var userQuery = getLastQuery ? $scope.lastQuery : query.input;
          var userQueryObj = userQuery ? JSON.parse(userQuery) : {};
          var formData = {
            query: userQueryObj,
            collection: collection
          };
          console.log(formData, 'formData')
          apiService.dbQuery(formData).then(function(result) {
            $scope.activeCollection = collection;
            $scope.lastQuery = query.input;
            console.log('query result', result.data.data)
            $scope.displayedTable = arrayOfObjectsToHeadedArray(result.data.data);
            $scope.queryResult = result.data.data;
          });
          query.previous = query.input;
          query.input = undefined;
        }
      };

      $scope.editLine = function(lineIndex) {
        $scope.editingLineIndex = lineIndex;
        var editingLine = $scope.queryResult[lineIndex - 1]
        $scope.editingLineDataTypes = getEditingLineDataTypes(editingLine);
        $scope.editingLine = getEditingLine(editingLine, $scope.editingLineDataTypes);
      };

      $scope.submitDocumentChanges = function() {
        apiService.submitDocumentChanges($scope.activeCollection, parseEditingLine($scope.editingLine, $scope.editingLineDataTypes)).then(function() {
          $scope.query.submit($scope.activeCollection, true);
        })
      }

    };
  </script>

</head>

<body ng-app="appModule" ng-controller="appCtrl">

  <form ng-submit="query.submit(query.collection)">
    <label>Query (strict JSON standard, blank to get whole collection):</label>
    <input ng-model="query.input"></input>
    <label>Collection:</label>
    <select ng-options="item as item for item in collections" ng-model="query.collection">
								</select>
    <button type="submit">Submit</button>
  </form>

  <table style="table-layout:fixed">
    <tr>
      <td style="width: 20%">
        <pre style="margin:0; overflow:scroll">
			  	<table>
			  		<tr ng-repeat="(key, val) in editingLine">
				  		<td>
				  			{{key}}
				  		</td>	
				  		<td>
				  			<input ng-model="editingLine[key]"></input>
				  		</td>	
				  		<td>
				  			<select ng-options="item as item for item in dataTypes" ng-model="editingLineDataTypes[key]">
								</select>
							</td>
			  		</tr>
			  	</table>
			  	<button type="button" ng-click="submitDocumentChanges()">Submit Changes</button>
		  	</pre>
      </td>
      <td style="width: 20%">
        <pre style="margin:0; overflow:scroll">
				  <table>
						<tr ng-repeat="lines in displayedTable track by $index" ng-click="editLine($index)" ng-class="{highlighted: $index === editingLineIndex, tablehead: $index === 0}">
							<td ng-repeat="data in lines track by $index" style="border: 1px solid gray; border-collapse: true">
								{{data}}
							</td>
						</tr>
					</table>
				</pre>
      </td>
    </tr>
  </table>


</body>